<div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ site.author }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
    {% endif %}
    {% if site.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a>
    {% endif %}
    {% if site.email %}
    <a href="mailto:{{ site.email }}">Email</a>
    {% endif %}
  </p>
</div>

<div class="col-box">
  <div class="contentContainer">
    <div class="progressBar">
      <p>C#</p>
      <div class="progressBarContainer">
        <div class="progressBarValue value-80"></div>
      </div>
    </div>
    <div class="progressBar">
      <p>SQL</p>
      <div class="progressBarContainer">
        <div class="progressBarValue value-40"></div>
      </div>
    </div>
    <div class="progressBar">
      <p>Angular</p>
      <div class="progressBarContainer">
        <div class="progressBarValue value-60"></div>
      </div>
    </div>
    <div class="progressBar">
      <p>NodeJS</p>
      <div class="progressBarContainer">
        <div class="progressBarValue value-50"></div>
      </div>
    </div>
    <div class="progressBar">
      <p>MongoDB</p>
      <div class="progressBarContainer">
        <div class="progressBarValue value-30"></div>
      </div>
    </div>
  </div>

</div>

<div class="col-box">
  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>
